.button {
  padding: 13px 26px 13px 26px;
  border-radius: 18px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 1px solid;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
  color: white;
  border-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.dark {
  background-color: #292f36;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);

  &:hover {
    color: black;
    background-color: white;
    border-color: #292f36;
  }
}

.gold {
  background-color: #cda274;

  &:hover {
    border-color: #cda274;
    background-color: black;
    color: white;
  }
}
